@model U181009.Models.ConsensualAgreement

@{
    
}
<h2>Thank you, @Model.Name!</h2>
@if(Model.Approved == true)
{
    @:Thanks for your agreement CJ!
}

else
{
    @:I'll take your shit anyway bruv
}
