body{
	padding: 0;
	margin: 0;
	
}




/*css for the header*/

header {
	height: 100px;
	background-color: rgba(00, 51, 102, 0.8);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

header img{
	float: left;
	margin-left: 15%;
	
	
	
}

header ul{
	text-align: center;
	margin-top: 2%;
}

header li{
	font-size: 20px;
	list-style: none;
	overflow: auto;
	display: inline;
	font-family: Verdana;
	
	
}

header a{
	text-decoration: none;
	color:white;
	margin-right: 2%;
	
	
}

header a:hover{
	color: #2E9AFE;
	
}

.active2{
	color: #2E9AFE;
}


.dropdown {
	position: relative;
    display: none;
	z-index: 100000;
	top: 0;
	
}

.dropbtn {
    background-color: rgba(00, 51, 102, 0.8);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	top: 0;
	
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #4682B4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1E90FF;
    min-width: 160px;
	padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	
	
}


.dropdown-content a:hover{
	background-color: #143383;
	
}

.show {
	display: block;
}


/*css for the story section*/

main{
	background-image: url("../pictures/gladioffxv.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    min-width: 100%;
	color: white;
	position: relative;
	top: 0;
	height: 1200px;
	
}

main h1{
	font-size: 60px;
	color: white;
	text-align: center;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0;
	padding-top: 10%;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}

main img{
	display: block;
	margin: 0 auto;
}

main p{
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	line-height: 125%;
	font-family: verdana;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/*css for the universe section*/

article{
	position: relative;
	background-image: url("../pictures/backgroundxv.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	min-height: 100%;
	min-width: 100%;
	color: white;
	bottom: -100%;
	text-align: center;
}

article h1{
	font-size: 60px;
	color: white;
	text-align: center;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0;
	padding-top: 5%;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

article img{
	display: block;
	margin: 0 auto;
}
.fade{
	display: inline-block;
	margin: 0 auto;
	opacity: 1;
	overflow: hidden;
}

/*css for the footer section*/

footer{
	position: relative;
	clear: both;
	background-color: black;
	color:white;
	width: 100%;
	left: 0;
	right: 0;	
	bottom: 0;
}


footer p{
	font-size: 12px;
	line-height: 200%;
	text-align: center;
	margin: 0;
}

footer ul{
	text-align: center;
}

footer li{
	font-size: 12px;
	line-height: 200%;
	list-style: none;
	overflow: auto;
	display: inline;
	font-family: Verdana;
	
}

footer a{
	text-decoration: none;
	padding-left: 2%;
	margin-right: 1%;
	color: #2E9AFE;
}

footer a:hover{
	text-decoration: underline;
}

/*css for the buy buttons*/

.wrapper{
	position: relative;
	display: inline-block;
}


.button {
   border: 2px solid #000000;
   background: #bdbdbd;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#bdbdbd));
   background: -webkit-linear-gradient(top, #000000, #bdbdbd);
   background: -moz-linear-gradient(top, #000000, #bdbdbd);
   background: -ms-linear-gradient(top, #000000, #bdbdbd);
   background: -o-linear-gradient(top, #000000, #bdbdbd);
   background-image: -ms-linear-gradient(top, #000000 0%, #bdbdbd 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 21px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   bottom: 0;
   margin-bottom: 10%;
	right:0;
	left:0;
   position: absolute;
   }
.button:hover {
   border: 2px solid #000000;
   text-shadow: #000000 0 1px 0;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#000000));
   background: -webkit-linear-gradient(top, #f2f2f2, #000000);
   background: -moz-linear-gradient(top, #f2f2f2, #000000);
   background: -ms-linear-gradient(top, #f2f2f2, #000000);
   background: -o-linear-gradient(top, #f2f2f2, #000000);
   background-image: -ms-linear-gradient(top, #f2f2f2 0%, #000000 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #000000 0 1px 0;
   border: 2px solid #ffffff;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#545254), to(#000000));
   background: -webkit-linear-gradient(top, #545254, #000000);
   background: -moz-linear-gradient(top, #545254, #000000);
   background: -ms-linear-gradient(top, #545254, #000000);
   background: -o-linear-gradient(top, #545254, #000000);
   background-image: -ms-linear-gradient(top, #545254 0%, #000000 100%);
   color: #ffffff;
   }

   
/*css for the mobile version of the page*/
  
@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (max-width: 500px) {
	html { font-size: 70%; }
	
}

@media (max-width: 700px) {
    html { font-size: 70%; }
	.dot {
		width: 24px;
		height: 24px;
	}
	.frame{
		margin-top: 200px;
		width: 100%;
		display: block;
	}
	.prev, .next{
		display: none;
		
	}
	
	header{
		background-color: transparent;
		pointer-events: none;
		
	}
	
	.dot{
		width: 24px;
		height: 24px;
	}
	header img {
		display: none;
	}
	header li{
		display: none;
	}
	
	.dropdown {
		display: block;
		margin-bottom: 5%;
		pointer-events: auto;
		position: absolute;
		
	}
	
	video#bgvid{
		display: none;	
	}
	
	iframe{
		display: inline-block;
		pointer-events: auto;
	}
	


}
@media (max-width: 767px) {
	section {
    background: url('../videos/trailer.mp4') center center / cover no-repeat;
  }
	
}

@media (max-width: 1200px) {
    html { font-size: 120%; }
}



